<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <title>Patates Sevenler Dashboard</title>
    <!-- Hotjar Tracking Code for patatessevenler.com -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2459451,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZYVP342B4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0ZYVP342B4');
    </script>
    <meta name="keywords" content="Discord, patates sevenler, Tanışma, Sohbet, discord sunucu bulma, oyun sunucuları, discord sunucusu, discord türk sunucuları, disboard türk, discord patates sevenler, tatlı patates sevenler, patates sevenler derneği">
    <meta name="description" content="Patates Sevenler Discord Sunucusu Resmi Kontrol Paneli">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png')}}">
    </head>
    <body>
         <div class="login-box">
           <h2>Patates Sevenler Dashboard</h2>
           <h3>Sunucudaki verilerinizi görebileceğiniz dashboard için giriş yapınız.</h3>
           <form>
             <a href="{{ login }}">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               Giriş Yap
             </a>
           </form>
         </div>
         
    </body>
    </html>